p{
	color: red;
	font-size: 20px;
}

p, ul, ol {
	color: black;
}

.standout, .bold_text
{
	color: red;
}

p[align]
{
	color: red;
}

p[align="center"]
{
	color: blue;
}

.image1:hover{
transform: translate(30px, 30px);
}